extends layout
block content
	.kweeni
		nav.nav
			.nav__logo
				a(href='/kweeni')
					img#logo(src='/images/logo.svg', alt='logo_KWEENI')
			.nav__user
				.nav__user__text
					p= username
					a(href='/logout') Log uit
				.nav__user__avatar
					img(src= avatar, alt='user')
		input#userId(type='hidden', name='userId' value= userId)
		section#app.questionDetails(data-questionid=topic._id)
			header
				h1.questionDetails__title=topic.title
			.footerWrapper
				footer
					.questionDetails__votes
						h5
							img(src='/images/icon-cool.svg')
							span 
						a.questionDetails__like(href='#') like deze vraag
					.questionDetails__voters
						img(src='', alt='')
					.questionDetails__meta
						.questionDetails__metaText
							p.questionDetails__timeAgo
								em #{topic.date}
								span  gevraagd door
							p.questionDetails__author #{topic.author.name}
						.questionDetails__metaAvatar
							img(src= topic.author.avatar)
		section.questionAnswers
			#form__comment1.form__comment
				input.input__comment(placeholder='Plaats commentaar', type='text', data-answernumber='1')
		.form__answer
			.form__answer__avatar
				img(src= avatar)
			.form__answer__input
				input.input__answer(placeholder='Reageer op deze vraag', type='text')
			.form__answer__button
				a#btnAnswer.btn.btn--primary Reageren